{% load static %}

<!doctype html>
<html lang="en">

<head>

  <title> TimeTable Builder </title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- JQuery and Bootstrap4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Custom styles/scripts -->
  <link rel="stylesheet" href="{% static 'GUI/css/tabs.css' %}">
  <link rel="stylesheet" href="{% static 'GUI/css/body.css' %}">
  <link rel="stylesheet" href="{% static 'GUI/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'GUI/css/input.css' %}">
  <link rel="stylesheet" href="{% static 'GUI/css/courses.css' %}">
  <link rel="stylesheet" href="{% static 'GUI/css/table.css' %}">
  <script src="{% static 'GUI/js/globals.js' %}"></script>
  <script type="module" src="{% static 'GUI/js/messages.mjs' %}"></script>
  <script type="module" src="{% static 'GUI/js/tabs.mjs' %}"></script>
  <script type="module" src="{% static 'GUI/js/helper.mjs' %}"></script>
  <script type="module" src="{% static 'GUI/js/events.mjs' %}"></script>

</head>

<body>

  <!-- course-input -->
  <div class="input">

    <h1> Select Courses </h1>

    <!-- Messages to user -->
    <ul id="messages" class="messages"></ul>

    <form class="form-inline" id="courseInput">

      <!-- Term input -->
      <div class="form-group mr-sm-4">
        <label for="term" class="mr-sm-2">Term:</label>
        <select id="term" class="form-control">

          {% for option in termOptions %}
          <option value="{{option}}">{{option}}</option>
          {% endfor %}

        </select>
      </div>

      <!-- Course name input -->
      <div class="form-group mr-sm-4">
        <label for="cName" class="mr-sm-2">Subject:</label>
        <select id="cName" class="form-control">

          {% for subj in subjs%}
          <option value="{{subj}}">{{subj}}</option>
          {% endfor %}

        </select style="width:100px">
      </div>

      <!-- Course no. input -->
      <div class="form-group">
        <label for="num" class="mr-sm-2">No.:</label>
        <input class="form-control" name="num" min=100 max=999 size=5 id="cNum">

        <button class="form-group ml-4" id="select-course" type="button">Select Course</button>
      </div>

    </form>

  </div>

  <!-- Course-tabs -->
  <div class="tab-panels courses" id="cInfo">
    <ul class="tabs"></ul>
  </div>

  <!-- Timetable -->
  <div class="table table-responsive" id="timetable"></div>

</body>

</html>
