<!-- html for table-->

<label for='instructors'>Choose Instructor(s):&nbsp</label>
<input type='checkbox' name="instructors" id="instructors">Inst1&nbsp</input>
<input type='checkbox' name="instructors" id="instructors">Inst2&nbsp</input>
<input type='checkbox' name="instructors" id="instructors">Inst3&nbsp</input>

<br><br>

<label for='modeSectionSelection'>Mode:&nbsp</label>
<input type='radio' name="modeSectionSelection" id="modeSectionSelection">Only use selected&nbsp</input>
<input type='radio' name="modeSectionSelection" id="modeSectionSelection">Don't use selected&nbsp</input>
