<!-- html for table-->
<table id={{course}}>

    {% if lectures %}
    <tr>
        <th colspan="5"> Lectures</th>
    </tr>
    {% for section in lectures %}
    <tr>
        <td><input type='radio' name="lecture" value="{{section.name}}"></input></td>
        <td>{{section.name}}&nbsp;</td>
        <td>{{section.time}}&nbsp;</td>
        <td>{{section.days}}&nbsp;</td>
        <td>{{section.instructor}}&nbsp;</td>
    </tr>
    {% endfor %}
    {% endif %}

    {% if labs %}
    <tr>
        <th colspan="5" style="text-align:left;">Labs</th>
    </tr>
    {% for section in labs %}
    <tr>
        <td><input type='radio' name="lab" value="{{section.name}}"></input></td>
        <td>{{section.name}}&nbsp;</td>
        <td>{{section.time}}&nbsp;</td>
        <td>{{section.days}}&nbsp;</td>
        <td>{{section.instructor}}&nbsp;</td>
    </tr>
    {% endfor %}
    {% endif %}

    {% if tutorials %}
    <tr>
        <th colspan="5">Tutorials</th>
    </tr>
    {% for section in tutorials %}
    <tr>
        <td><input type='radio' name="tutorial" value="{{section.name}}"></input></td>
        <td>{{section.name}}&nbsp;</td>
        <td>{{section.time}}&nbsp;</td>
        <td>{{section.days}}&nbsp;</td>
        <td>{{section.instructor}}&nbsp;</td>
    </tr>
    {% endfor %}
    {% endif %}

</table>
