<!-- html for table-->
<table>
  Hello World {% comment %}
  <!-- {% if ... %} -->
  <tr>
    <td>Table refreshed</td>
    <!-- <th colspan="5">M</th>
    <th colspan="5">T</th>
    <th colspan="5">W</th>
    <th colspan="5">R</th>
    <th colspan="5">F</th> -->
  </tr>
  <!--
  {% for ... %}
  <tr>
    {% if ... %}
    <td></td>

    {% else %}
    <td></td>

    {% endif %} {% endfor %}
  </tr>
  {% endfor %} {% endif %} -->
  {% endcomment %}
</table>

<!-- <table class="TimeTable">
  <tbody><tr>
  <th class="table-header" scope="col">&nbsp;</th>
  <th class="table-header" scope="col">Monday</th>
  <th class="table-header" scope="col">Tuesday</th>
  <th class="table-header" scope="col">Wednesday</th>
  <th class="table-header" scope="col">Thursday</th>
  <th class="table-header" scope="col">Friday</th>
  <th class="table-header" scope="col">Saturday</th>
  <th class="table-header" scope="col">Sunday</th>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe1 stripe1border" scope="row">8am</th>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10749" style="width: 100%; display: block; padding: 2px;"><div>CSC 230-A02</div><div>10749 Every Week</div><div>8:30 am-9:20 am</div><div><abbr title="MACLAURIN BUILDING">MAC</abbr> A144</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10749" style="width: 100%; display: block; padding: 2px;"><div>CSC 230-A02</div><div>10749 Every Week</div><div>8:30 am-9:20 am</div><div><abbr title="MACLAURIN BUILDING">MAC</abbr> A144</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10749" style="width: 100%; display: block; padding: 2px;"><div>CSC 230-A02</div><div>10749 Every Week</div><div>8:30 am-9:20 am</div><div><abbr title="MACLAURIN BUILDING">MAC</abbr> A144</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe2 stripe2border" scope="row">9am</th>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10436" style="width: 100%; display: block; padding: 2px;"><div>CHEM 101-A02</div><div>10436 Every Week</div><div>9:30 am-10:20 am</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> B150</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10436" style="width: 100%; display: block; padding: 2px;"><div>CHEM 101-A02</div><div>10436 Every Week</div><div>9:30 am-10:20 am</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> B150</div></a></td>
  <td rowspan="11" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10448" style="width: 100%; display: block; padding: 2px;"><div>CHEM 101-B11</div><div>10448 Every Week</div><div>9:30 am-12:20 pm</div><div><abbr title="ELLIOTT BUILDING">ELL</abbr> 227</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10436" style="width: 100%; display: block; padding: 2px;"><div>CHEM 101-A02</div><div>10436 Every Week</div><div>9:30 am-10:20 am</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> B150</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe1 stripe1border" scope="row">10am</th>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe2 stripe2border" scope="row">11am</th>
  <td class="dddefault stripe2">&nbsp;</td>
  <td rowspan="5" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10754" style="width: 100%; display: block; padding: 2px;"><div>CSC 230-B04</div><div>10754 Every Week</div><div>11:00 am-12:20 pm</div><div><abbr title="ENGINEERING COMP SCIENCE BUILDING">ECS</abbr> 249</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe1 stripe1border" scope="row">12pm</th>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=13057" style="width: 100%; display: block; padding: 2px;"><div>STAT 260-A02</div><div>13057 Every Week</div><div>12:30 pm-1:20 pm</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> A104</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=13057" style="width: 100%; display: block; padding: 2px;"><div>STAT 260-A02</div><div>13057 Every Week</div><div>12:30 pm-1:20 pm</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> A104</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=13057" style="width: 100%; display: block; padding: 2px;"><div>STAT 260-A02</div><div>13057 Every Week</div><div>12:30 pm-1:20 pm</div><div><abbr title="WRIGHT CENTRE">BWC</abbr> A104</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe2 stripe2border" scope="row">1pm</th>
  <td class="dddefault stripe2">&nbsp;</td>
  <td rowspan="5" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12833" style="width: 100%; display: block; padding: 2px;"><div>SENG 265-B05</div><div>12833 Every Week</div><div>1:00 pm-2:20 pm</div><div><abbr title="ENGINEERING LAB WING">ELW</abbr> B238</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10924" style="width: 100%; display: block; padding: 2px;"><div>ECE 260-T01</div><div>10924 Every Week</div><div>1:30 pm-2:20 pm</div><div><abbr title="ENGINEERING LAB WING">ELW</abbr> B215</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10922" style="width: 100%; display: block; padding: 2px;"><div>ECE 260-A01</div><div>10922 Every Week</div><div>1:30 pm-2:20 pm</div><div><abbr title="ENGINEERING COMP SCIENCE BUILDING">ECS</abbr> 125</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10922" style="width: 100%; display: block; padding: 2px;"><div>ECE 260-A01</div><div>10922 Every Week</div><div>1:30 pm-2:20 pm</div><div><abbr title="ENGINEERING COMP SCIENCE BUILDING">ECS</abbr> 125</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=10922" style="width: 100%; display: block; padding: 2px;"><div>ECE 260-A01</div><div>10922 Every Week</div><div>1:30 pm-2:20 pm</div><div><abbr title="ENGINEERING COMP SCIENCE BUILDING">ECS</abbr> 125</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe1 stripe1border" scope="row">2pm</th>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12156" style="width: 100%; display: block; padding: 2px;"><div>MATH 122-A02</div><div>12156 Every Week</div><div>2:30 pm-3:20 pm</div><div><abbr title="CLEARIHUE BUILDING">CLE</abbr> A212</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12156" style="width: 100%; display: block; padding: 2px;"><div>MATH 122-A02</div><div>12156 Every Week</div><div>2:30 pm-3:20 pm</div><div><abbr title="CLEARIHUE BUILDING">CLE</abbr> A212</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12156" style="width: 100%; display: block; padding: 2px;"><div>MATH 122-A02</div><div>12156 Every Week</div><div>2:30 pm-3:20 pm</div><div><abbr title="CLEARIHUE BUILDING">CLE</abbr> A212</div></a></td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe2 stripe2border" scope="row">3pm</th>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12827" style="width: 100%; display: block; padding: 2px;"><div>SENG 265-A02</div><div>12827 Every Week</div><div>3:30 pm-4:20 pm</div><div><abbr title="HICKMAN BUILDING">HHB</abbr> 105</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12827" style="width: 100%; display: block; padding: 2px;"><div>SENG 265-A02</div><div>12827 Every Week</div><div>3:30 pm-4:20 pm</div><div><abbr title="HICKMAN BUILDING">HHB</abbr> 105</div></a></td>
  <td rowspan="3" class="ddlabel" style="border: 1px solid rgb(136, 160, 206);"><a href="/BAN1P/bwskfshd.P_CrseSchdDetl?term_in=201909&amp;crn=12827" style="width: 100%; display: block; padding: 2px;"><div>SENG 265-A02</div><div>12827 Every Week</div><div>3:30 pm-4:20 pm</div><div><abbr title="HICKMAN BUILDING">HHB</abbr> 105</div></a></td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  <td class="dddefault stripe2">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  <td class="dddefault stripe2 stripe2border">&nbsp;</td>
  </tr>
  <tr>
  <th rowspan="4" class="ddlabel stripe1 stripe1border" scope="row">4pm</th>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  <td class="dddefault stripe1">&nbsp;</td>
  </tr>
  <tr>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  <td class="dddefault stripe1 stripe1border">&nbsp;</td>
  </tr>
  </tbody></table> -->
