body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem auto auto auto 1fr;
  grid-template-areas:
    ". . . . ."
    "table_ table_ table_ table_ table_"
    "input input courses courses courses"
    ". . courses courses courses"
    ". . . . .";
}

.input {
  grid-area: input;
}

.courses {
  grid-area: courses;
}

.table {
  grid-area: table_;
}
