body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2rem auto auto 1fr;
  grid-template-areas:
    ". ."
    "table_ input"
    "table_ courses"
    ". .";
}

.input {
  grid-area: input;
}

.courses {
  grid-area: courses;
}

.table {
  grid-area: table_;
}
