.table {
  background-color: var(--panel-back);
  border-radius: 1vh;
  padding-top: 0.5rem;
}

.even-row {
  background-color: rgb(175, 175, 175);
}

.course-entry {
  background-color: rgb(200, 200, 200);
  vertical-align: center;
}

.table-header {
  background-color: rgb(190, 190, 190);
}
