{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title> TimeTable Builder </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'main/base.css' %}">
        
        {% block header %}{% endblock %}

    </head>

    <body>

        <!-- Code Snippet: Navigation bar -->

        <header>
            <ul>
                <li onclick="alert()">
                     Reset
                </li>
                <li> Help </li>
            </ul>


        </header>

        <!-- Code Snippet: Navigation bar -- end -->



        <!-- Code Snippet: Main content -->
        <main>
            {% block content %}{% endblock %}
        </main>           
        <!-- Code Snippet: Main content -- end -->

        <footer>
            <ul>
                <li><i class="fa fa-github"></i></li>
                <li><i class="fa fa-linkedin-square"></i></li>
            </ul>

        </footer>
  
    </body>

</html>