{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title> TimeTable Builder </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'main/main.css' %}">
        <script src="{% static 'main/jQuery.js' %}"></script>
        <script src="{% static 'main/main.js' %}"></script>
    
    </head>

    <body>

        <!-- Navigation bar -->

        <header>
            <ul>
                <li id="reset"> Reset </li>
                <li> Help </li>
            </ul>


        </header>

        <!-- Navigation bar -- end -->



        <!-- Main content -->
        <main>

            <div class="input-pane">

                <h1> Input Place </h1>

                <label for="term">Term</label>
                <select id="term">
                    
                    {% for option in termOptions %}
                    <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                
                </select>

                &nbsp&nbsp&nbsp

                <label for="cName">Subject</label>
                <select id="cName">
                    
                    {% for subj in subjs%}
                    <option value="{{subj}}">{{subj}}</option>
                    {% endfor %}        
                
                </select style="width:100px">

                &nbsp&nbsp&nbsp

                <label for="num">No.</label>
                <input name="num" min=100 max=999 size=5 id="cNum">

                <br><br>

                <ul id="messages">
                </ul>

                <button id="select-course">Select Course</button>

                <br><br>

                <table>

                    <tr>
                        <th>Days</th>
                        <th>Start (24 hr)</th>
                        <th></th>
                        <th>End (24 hr)</th>
                    </tr>

                    {% for day in days %}

                    <tr>
                        <td> {{day}} </td>

                        <td style="padding-right: 1rem;">                    
                            <form style="display: inline" oninput="x.value=parseInt(a.value)">
                                
                                0 
                                <input type="range" id="{{day}}start" name="a" value="0" min="0" max="24" step="0.5" 
                                    class="dayTime-slider start">
                                24 
                                
                                &nbsp&nbsp

                                <strong><output name="x" for="a">0</output></strong>
                        
                            </form>
                        </td>

                        <td> - </td>
                        
                        <td style="padding-left: 1rem;">
                            <form style="display: inline" oninput="x.value=parseInt(a.value)">

                                <strong><output name="x" for="a">24</output></strong>

                                &nbsp &nbsp
                                0
                                <input type="range" id="{{day}}end" name="a" value="24" min="0" max="24" step="0.5" 
                                    class="dayTime-slider end">
                                24
                                                    
                            </form>
                        </td>
                    </tr>
                    
                    {% endfor %}

                </table>

            </div>

            <div class="course-tabs">

                <!-- Courses-tab Place -->
                    
                <div class="tab-panels" id="cInfo">
                    <ul class="tabs">
                        <li rel="MATH-101" class="active">MATH 101<span class="close"></span></li>
                    </ul>

                    <div id="MATH-101" class="panel active">
                        <label for='instructors'>Choose Instructor(s):&nbsp</label>
                        <input type='checkbox' name="instructors" id="instructors">Inst1&nbsp</input>
                        <input type='checkbox' name="instructors" id="instructors">Inst2&nbsp</input>
                        <input type='checkbox' name="instructors" id="instructors">Inst3&nbsp</input>

                        <br><br>

                        <label for='modeSectionSelection'>Mode:&nbsp</label>
                        <input type='radio' name="modeSectionSelection" id="modeSectionSelection">Only use selected&nbsp</input>
                        <input type='radio' name="modeSectionSelection" id="modeSectionSelection">Don't use selected&nbsp</input>
                    </div>

                </div>

                <br>


                <!-- TimeTables Place -->
                <div class="tab-panels" id="tables">
                    <ul class="tabs">
                        <li rel="panel5" class="active">panel5<span class="close"></span></li>
                        <li rel="panel6">panel6<span class="close"></span></li>
                    </ul>

                    <div id="panel5" class="panel active">
                        &Tab;&Tab;&Tab;&Tab;&Tab;<br>
                        &Tab;&Tab;&Tab;&Tab;&Tab;<br>
                        &Tab;&Tab;&Tab;&Tab;&Tab;<br>
                        &Tab;&Tab;&Tab;&Tab;&Tab;<br>
                        &Tab;&Tab;&Tab;&Tab;&Tab;<br>

                    </div>
                    <div id="panel6" class="panel">
                        content6<br/>
                        content6<br/>
                        content6<br/>
                        content6<br/>
                        content6<br/>
                    </div>
                </div>

            </div>

        </main>

        <!-- Main content -- end -->

        <footer>
            <ul>
                <li><i class="fa fa-github"></i></li>
                <li><i class="fa fa-linkedin-square"></i></li>
            </ul>

        </footer>

</body>

</html>